.class_del {
	float:right;
	position:relative;
	display:block;
	z-index:10;
	top:35px;
	margin: 0 10px;
}

#status{
	text-align: center;
	height: 40px;
	line-height: 40px;
}

#header_description{
	text-align: center;
	height: 40px;
	line-height: 40px;
}

#gotop {
    position: fixed;
    right: 35px;
    bottom: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background: #777;
    color: white;
    cursor: pointer;
}

